# https://git-scm.com/docs/gitattributes

# end-of-line normalization
* text=auto

## normalize EOL and use native line endings on checkout
*.md text
*.txt text
*.vim text
.editorconfig text
.gitattributes text
/.reuse/dep5 text

# diff
*.md diff=markdown
